html {
background: rgb(2,0,36);
background: linear-gradient(80deg, rgba(2,0,36,1) 0%, rgba(25,116,134,0.37298669467787116) 100%);
  overflow: hidden;
}

#one {
  height: 950px;
  position: relative;
}

#two {
  height: 100px;
  text-align: center;
}

#four, #five{
  position: absolute;
  color: white;
  font-weight: 900;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 390px;
  text-align: center;
}

#bottomFive {
  position: relative;
  bottom: 10px;
  font-weight: 500;
  font-size: 14px;
}
#bottom {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

img {
  height: 100%;
  width: 100%;
  opacity: 65%;
}




